@import "nib"
@import "normalize.styl"
@import "icons.styl"
@import "blog.styl"

celeste = #0092bf
gris = #7d95a1
rojo = #FF2300
verde = #009F15
azul = #0c3ead
amarillo = #EFCF5B
cafe = #bdbab1

*
	box-sizing border-box

body
	font-family 'Lato', sans-serif
	font-size 16px
	line-height 30px
	//background-color #F6F6F6
	/*background url('./img/bg.png')*/

ul
	margin 0
	padding 0
	

a
	text-decoration none
	transition all .5s ease
p 
	margin-top 0
	margin-bottom 1.25rem
h1
h2
h3
h4
h5
	font-family 'Lato'
	margin-top 0
	font-weight 900
	color azul
	
h1
	line-height 45px

img
	max-width 100%
	height auto
input[type="text"]
input[type="email"]
input[type="tel"]
input[type="number"]
input[type="url"]
input[type="search"]
select
textarea
	width: 100%
	height: 36px
	padding: .5rem
textarea
	height: 90px
.txt-center
	text-align center
.overflow
	overflow hidden
.search-submit
.comment-form .submit
.wpcf7-submit
.btn
	padding .5rem 1.5rem .5rem 1.5rem
	display inline-block
	color #000
	transition all .5s ease
	font-weight 400
	margin-bottom 1.25rem
	text-transform: uppercase
	&.naranja
		background-color naranja
		border-color naranja
		color #fff
		&:hover
			background-color #00642f
			color white
	&.danger
		background-color rojo
		border-color rojo
		color #fff
		&:hover
			background-color #00642f
			color white
	&.success
	&.verde
		background-color verde
		border-color verde
		color #fff
		&:hover
			background-color #00642f
			color white
	&.secondary
		background-color #e7e7e7
		border-color #b9b9b9
		color #333
		&:hover
			background-color #b9b9b9
			color white
.search-submit
.comment-form .submit
.wpcf7-submit
	background-color verde
	border-color verde
	color #fff
	border none
	&:hover
		background-color azul
		color white	
.btn
	border 1px solid #fff
	font-size inherit
	color white
	background 0 0
	text-align center
	cursor pointer
	padding 10px 30px 10px
	display inline-block
	text-transform uppercase
	outline 0
	position relative
	transition all .3s ease
	transform translateZ(0)
	background-color transparent
	&:hover
		background-color: naranja 
		color white
		border-color transparent
.btn-gris
	background-color gris
	border-color gris
	padding 8px 30px 8px
	&:hover
		background-color: #000
.btn-negro
	background-color #000
	border-color #000
	padding 8px 30px 8px
	&:hover
		background-color: gris

.btn-rojo
	background-color rojo
	border-color rojo
	padding 8px 30px 8px
	&:hover
		background-color: azul
	
.inner
	max-width 1170px
	margin 0 auto
	padding: 0 4rem
@media screen and (min-width: 1170px)
	.inner
		padding: 0 


		
.flex-container-sb
	display flex
	flex-wrap wrap
	justify-content space-between
	
.flex-container-sa
	display flex
	flex-wrap wrap
	justify-content space-around

.flex-container-start
	display flex
	flex-wrap wrap
	justify-content start

.flex-container-center
	display flex
	flex-wrap wrap
	justify-content center

.top
	background: verde
	height: 30px
	font-size: 13px
	&-container
		display: flex
		flex-wrap: wrap
		justify-content: space-between
	&-contact
	&-account
		a
			color: white
			display: inline-block
			padding: 0 .5rem
.nav-is-open 
	.header
		&-menu
			display: block
.header
	background: white
	padding-top: .8rem
	padding-bottom: .5rem
	position:  relative
	border-bottom: 1px solid #c3c3c3
	.inner
		position: relative
	&-logo
		width: 210px
		display: inline-block
		//margin-right: 2rem
		vertical-align: middle
	&-menu
		display: none
		vertical-align: middle
		position: absolute
		background: gris
		left 0
		right: 0
		top 101px
		z-index: 100

		li
			display: block
		
		a 
			display: block
			padding: .5rem
			color white
			text-transform: uppercase
			font-size: 1.3rem
			&:hover
				color: #000
	&-btn-menu
		background-color: transparent
		border none
		outline: none
		color #000
		padding: .5rem
		font-size: 2.5rem
		position: absolute
		right: 1rem
		top 1rem
	.cart
		color: #000
		position: absolute
		right: 5rem
		top 1.5rem
		font-size: 2.4rem

@media screen and (min-width: 768px)
	.header
		&-menu
			position static
			display inline-block
			background transparent
			li 
				display inline-block
			a 
				color azul
		&-btn-menu
			display none
		.cart
			right: 1.5rem
	
.banner
	height: 82vh
	position: relative
	overflow: hidden
	background-image: url('./img/bg.jpg')
	background-repeat: no-repeat
	background-size:cover;
	background-position: center center
	&-slider
		position relative
		z-index 0
	&-slide
		background-size: auto, cover;
		background-repeat: repeat, no-repeat
		background-position: center center
		height: 82vh
		width: 100%
	.item
		height: 82vh
		&-info
			position: absolute
			z-index: 2
			//left 3rem
			top:50%
			transform: translate(0, -50%)
			color: white
			//h1 
			h2 
				font-size: 2rem
				line-height: 2.5rem
				color white
				margin-bottom: 1rem
			p 
				font-size: 1.2rem
				font-family: Georgia, 'Times New Roman', Times, serif
	&-video
		position absolute
		top 0
		left 0
		width 100%
		height 100%
		z-index 1

		&:before
			content ""
			z-index 1
			position absolute
			background url(./img/shadow.png) no-repeat 50% 50%
			background-size cover
			top 0
			left 0
			width 100%
			height 100%
			
		video
			display none
			position absolute
			top 50%
			left 50%
			pointer-events: none;
			transform translate(-50%,-50%)

@media screen and (min-width: 768px)
	.banner
		.item 
			&-info
				top:50%
				transform: translate(0, -50%)
				h1 
				h2 
					font-size: 2.5rem
		&-video
			video
				display block

	
.home-categories
	top: 2rem
	position: relative
	z-index: 100
	margin-bottom: 2rem
	//padding-bottom: 4rem
	&-container
		display: flex
		flex-wrap: wrap
		justify-content: space-between
	&-item
		width: 100%//32%
		height: auto
		position: relative
		margin-bottom: 1rem
		&:hover
			img 
				transform: scale(1)
			.icon
				background-color: white
				color: #000
		&-img 
			overflow: hidden
		&-link
			position: absolute
			left 0
			right: 0
			top 0
			bottom: 0
		
		h3 
			position: absolute
			top 2rem
			left 1rem
			color white
			font-size: 1.5rem
			background-color: rgba(0,0,0,.75)
			padding: .5rem
		.icon
			position: absolute
			right: 1rem
			top 2rem
			color white
			border: 2px solid white
			border-radius: 50%
			padding: .5rem
			line-height: 15px
			transition: all .5s ease
		img 
			transform: scale(1.1)
			transition: all .5s ease
@media screen and (min-width: 768px)
	.home-categories
		top: -6rem
		margin-bottom: 0
		&-item
			width: 32%

.text-white
	color: white
.px-10
	padding-left: 2.5rem
	padding-right: 2.5rem
.flex
	display: flex
.items-center
	align-items: center
.container
	max-width: 1200px
.mx-auto
	margin-left: auto
	margin-right: auto
.uppercase
	text-transform: uppercase
.text-center
	text-align: center
.intro
	color: #000
	margin-top: 1.5rem;
	h2
		font-size: 2.5rem

.solution
	background-color: verde
	&:nth-child(2n+1)
		background-color: #0c3ead
		.solution-media{
			order: 0;
			flex: 0 0 50%;
		}

	.solution-media{
		order: 1;
		flex: 0 0 50%;
	}
	
	&-content
		flex 0 0 50%
		padding: 2.5rem
		max-width 60rem
		h2
			color white
	

.btn-discover
	display inline-block
	background-color: white
	color: #000
	padding: .5rem 1rem
	&.black
		background-color: #22292f
		color: white
		&:hover
			color: #22292f
			background-color: white
	&.red
		background-color: rojo
		color: white
		&:hover
			color: #22292f
			background-color: white
	&:hover
		color: white
		background-color: #22292f
// productos dentro de solutions
.solution
	//background-image: url('./img/leaf1.png');
	//background-repeat: no-repeat;

	&-products
		width 100%
		&-container
			display flex
			flex-wrap wrap
			justify-content start
		&-item
			padding-left: .25rem;
			padding-top: .12rem;
			padding-bottom: .12rem;
			display: flex;
			// -webkit-box-orient: vertical;
			// -webkit-box-direction: normal;
			// -webkit-flex-direction: column;
			// -ms-flex-direction: column;
			flex-direction: column;
			width: 100%//33.333%;
			min-height: 245px;
			&-title 
				color white
			&-link 
				width: 100%;
				display: flex;
				padding: 1.5rem;//padding: 3rem;
				text-align: center;
				overflow: hidden;
				position: relative;
				//flex-grow: 2;
				color white
				flex: 1;
				&:after
					content: '';
					background: rgba(0,0,0,.2);
					position: absolute;
					top: 0;
					left: 0;
					bottom: 0;
					right: 0;
				&.height-half
					.solution-products-item-border
						padding: .75rem 1.5rem 1rem;
					.solution-products-item-content
						transform: translateY(25%) !important;
					.solution-products-item-description
						display none
				&:hover
					.solution-products-item-bg
						-webkit-filter: blur(10px);
						filter: blur(10px);
						transform: scale(1.1);
					.solution-products-item-border
						&-right
						&-left
							&:before
							&:after
								opacity: 1;
								transform: scale(1);
					.solution-products-item-content
						transform: translateY(0) //!important;
					.solution-products-item-description
						opacity: 1;
						transform: translateY(0);
						transition: .35s ease;
			&-bg 
				position: absolute;
				left: -15px;
				top: -15px;
				right: -15px;
				bottom: -15px;
				-webkit-transition: .35s;
				transition: .35s;
				background: no-repeat 50% 50%;
				background-size: cover;
			&-border
				position: relative;
				width: 100%;
				padding: 1rem 1.5rem;//padding: 2rem;
				z-index: 3;
				display: flex;
				align-items: center;
				justify-content: center;
			
				
@media screen and (min-width: 768px)
	.solution
		&-products
			&-item
				width: 33.333%;
				&.large
					width: 66.666%;
				&-border
					overflow: hidden;
					position: relative;
					&-left 
					&-right 
						position: absolute;
						left: 0;
						top: 0;
						right: 0;
						bottom: 0;
						&:after
						&:before
							content: '';
							position: absolute;
							background: #fff;
							opacity: .2;
							transition: .35s;
					&-left
					&-right
						&:before
							width: 2px;
							top: 0;
							bottom: 0;
							transform: scaleY(0);
						&:after
							height: 2px;
							left: 0;
							right: 0;
							transform: scaleX(0);
					&-left 
						&:before
							left: 0;
							transform-origin: 50% 100%;
						&:after
							bottom: 0;
							transform-origin: 0 50
					&-right
						&:before
							right: 0;
							transform-origin: 50% 0;
						&:after
							top: 0;
							transform-origin: 100% 50%;
					
							
				&-content 
					transition: .35s;
					//transform: translateY(25%);
				&-title 
					margin-bottom: 1rem;
					line-height: 1;
					font-weight 400
					font-size 1rem
					color white
				&-description
					display: none
					opacity: 0;
					transform: translateY(10px);
					transition: .35s ease-in;

@media screen and (min-width: 1220px)
	.solution
		// &-container
		// 	padding-top 4rem
		// 	padding-left auto
		// 	padding-right auto
		// &-text 
		// 	width 33%
		// 	padding-top 10rem
		// 	padding-left 6.5rem
		&-products
			width 60%

@media screen and (max-width: 768px)
	.solution
		.container
			flex-wrap: wrap
		&-content
			flex: 0 0 100%
		&-media
			width: 100%
			order: 1 !important;
			flex: 0 0 100% !important;
		

.main
	padding-top: 2rem
.page
	.entry-header
		text-align: center
	iframe 
		width: 100%
.mfp-content
.entry-content
	ul
		margin-left: 45px
		margin-bottom: 1rem
		
.clients
	padding 2rem 0
	border-top 1px solid cafe
	.owl-prev
	.owl-next
		position: absolute
		top 50%
		transform: translate(0,-50%)
		font-size: 2rem
		color gris
	.owl-prev
		left -1rem
	.owl-next
		right: -1rem

.footer
	&-top
		background: rojo
		color white
		padding: 1.5rem 0
		&-container
			display: flex
			flex-wrap: wrap
			justify-content: space-between
		&-item
			width: 100%
			margin-bottom: 2rem
			text-align: center
		h4 
			color white
		.input
			height: 38px
			border: 1px solid #a8a69d
			width: 70%
		button
			display: inline-block
		/*.form-group
			display: flex
			flex-wrap: wrap
			justify-content: space-around*/
		.social 
			text-align: center
		.redes
			a 
				display: inline-block
				padding: .5rem 1rem
				color white
				font-size: 1.5rem

	&-bottom
		background: #000
		padding: 2rem 0
		color white
	
		&-container
			display: flex
			flex-wrap: wrap
			justify-content: space-between
	&-menu
		width: 100%
		text-align:  center
		margin-bottom: 1rem
		font-size: 13px
		li 
			display: inline-block
			vertical-align: top 
		a 
			display: block
			padding: .5rem
			color white
			&:hover
				color gris
	.copy
		width: 100%
		text-align:  center
		font-size: 13px

@media screen and (min-width: 768px)
	.footer
		&-top
			&-item
				width: 30%
				text-align: left
		&-menu
			width: 60%
			text-align: left
			
		// .copy
		// 	width: 155px
		// 	line-height: 50px